if SHIELD_PICA40_LEFT 

config ZMK_KEYBOARD_NAME
    default "Pica 40"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config PAW3360
    bool "Enable PAW3360 sensor support"
    depends on SPI

endif

if SHIELD_PICA40_LEFT || SHIELD_PICA40_RIGHT

config ZMK_SPLIT
    default y

endif
